<div class="span4">
  <img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>

<%= render partial: "shared/flash_messages", flash: flash %>

<div class="span8">
	<div class="user-profile">
		<h3>Log in</h3>
	</div>


	<%= render "form" %>
</div>
