<h2>Your Listings</h2>
<% @user.posts.each do |post| %>
	<ul>
		<li>
			<%= link_to post.title, post_path(post) %>
			<%#= post.created_at.to_s %>
			<%= Date.strptime(post.created_at.to_s, "%Y-%m-%d %H:%M:%S %Z").strftime("%m/%d/%Y") %>
		</li>
	</ul>
<% end %>