<% if target.errors.any? %>
<div id="errorExplanation">
  <div class="alert alert-error fade in">
    <button class="close" data-dismiss="alert">×</button>
    <h4>Oops, something went wrong. Please try again.</h4>
		  <ul>
		  <% target.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
  </div>
</div>
<% end %>



