<%= render partial: "shared/flash_messages", flash: flash %>

<h3>Create a new post</h3>
<div class="col-md-4">
	<img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>

<div class="col-md-8">
	<%= render "form" %>
</div>

