<h3>Create a new post</h3>
<div class="span8">
	<%= render "form" %>
</div>

<div class="span4">
	<img src="http://pagead2.googlesyndication.com/simgad/6235916075119015141" border="0" width="300" height="600" alt="" class="img_ad">
</div>