// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
	padding-bottom: 10px;
	padding-top: 10px;
}

.user-info .btn {
	margin-top: 10px;
}

.user-profile h2{
	display: inline;
}

.user-profile {
	margin-bottom: 5px;
}

.btn.btn-primary {
	margin-right: 5px;
	margin-bottom: 5px;
}

.sold {
	font-style: italic;
	color: #999;
	display: inline;
}


.user-status {
	color: #fff;
	font-size: 14px;
	display: inline;
	padding-right: 10px;
}

.user-status a{
	color: #fff;
	text-decoration: underline;
}

.user-status a:hover{
	color: #999;
}

.login-area {
	float: right;
}

.gravatar {
	width: 50px;
	background-color: #fff;
	display: block;
}

.comments .gravatar {
	display: inline;
	float: left;
	margin-right: 10px;
}