// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
	padding-bottom: 10px;
	padding-top: 10px;
}

.user-info .btn-default {
	margin-top: 10px;
}

.user-profile h2{
	display: inline;
}

.user-profile {
	margin-bottom: 5px;
}

.sold {
	font-style: italic;
	color: #999;
	display: inline;
}

.username {
	font-weight: 900;
	display: block;
	padding-top: 15px;
	padding-bottom: 10px;
}

.username small {
	display: block;
	font-weight: normal;
}

#user-edit h3 {
	display: inline;
}
#user-edit .btn-xs {
	margin-top: -9px;
	margin-left: 10px;
}

.vertical-link-group {
	padding-top: 10px;
}

.user-status {
	color: #fff;
	font-size: 14px;
	display: inline;
	padding-right: 10px;
}

.user-status a{
	color: #fff;
	text-decoration: underline;
}

.user-status a:hover{
	color: #999;
}

.gravatar img{
	width: 50px; //default is 64x64px
	background-color: #fff;
	display: block;
}

.comments .gravatar {
	display: inline;
	float: left;
	margin-right: 10px;
}

.listings ul {
	list-style: none;
	padding-left: 0px;
}