@media (min-width: 300px) {
  .navbar {
    margin-bottom: 0px;
    min-height: 30px;
  }
  .navbar-fixed-top .navbar-inner {
    margin-top: 10px;
  }
  .navbar-toggle {
    padding: 5px 10px;
    border: none;
    margin-top: 2px;
  }
  .navbar-toggle:hover {
    background-color: transparent !important;
  }
  .navbar-brand {
    float: none;
    margin-bottom: 10px;
  }
  .navbar-brand img{
    max-width: 80%;
  }
  .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
  .navbar-form {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin-left: 0;
  } 
  .login-area {
    float: left;
  }
  .content {
  padding-top: 0px;
  }
  .main-search {
    padding-top: 5px;
    float: none;
  }
  .form-control-medium {
    width: 70%;
  }
  #listing-browser select {
    width: 35%
  }
  .col-md-1 {
    padding-right: 0px;
    max-width: 49%;
  }
  #post-index li {
    padding-left: 0px;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  #post-index li:nth-child(2n){  
    margin-right: 0px;
  }
  .img-responsive {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top .navbar-inner {
    margin-top: 20px;
  }
  .navbar-brand {
  margin-bottom: 10px;
  }
  .navbar-brand img{
    max-width: 100%;
  }
  .navbar-brand h4 {
    display: block;
  }

  .login-area {
    float: right;
  }
  .content {
  padding-top: 40px;
  }
  .main-search {
    padding-top: 0px;
    float: right;
  }
  #listing-browser select {
    width: auto;
  }
  .form-control-medium {
    width: 300px;
  }


  .col-md-1 {
    max-width: 180px;
  }
  #post-index li {
    padding-left: 0px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .img-responsive {
    max-width: 100%;
  }
  // .img-thumbnail {
  //   max-width: 225px;  
  // }
  #post-index li:nth-child(2n){  
    margin-right: 2px;
  }
  #post-index li:nth-child(3n){  
    margin-right: 2px;
  }
  
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 187px;
    max-width: 187px;
  }
  #post-index li {
    margin-bottom: 3px;
    margin-right: 3px;
  }
  #post-index li:nth-child(2n){  
    margin-right: 3px;
  }
  #post-index li:nth-child(3n){  
    margin-right: 3px;
  }
  #post-index li:nth-child(5n){  
    margin-right: 0;
  }
}

@media (min-width: 1192px) {
  .col-md-1 {
    width: 190px;
    max-width: 190px;
  }
  #post-index li {
    margin-bottom: 2px;
    margin-right: 2px;
  }
  #post-index li:nth-child(2n){  
    margin-right: 2px;
  }
  #post-index li:nth-child(3n){  
    margin-right: 2px;
  }
  #post-index li:nth-child(5n){  
    margin-right: 2px;
  }
  #post-index li:nth-child(6n){  
    margin-right: 0;
  }
  
}
// //@media queries
// @media (min-width:200px){
//   .container {
//     padding-left: 10px;
//     padding-right: 10px;
//   }
//   .content {
//     padding-top: 150px;
//   }
//   .main-search {
//     float: left;
//   }
//   .main-search .form-control-medium {
//     width: auto;
//   }
//   .login-area {
//     float: left;
//   }
//   .login-links a:first-child {
//     padding-left: 0px;
//   } 
//   // #post-index li{
//   //   height: auto;
//   //   max-width: 100%;
//   // }
//   img { 
//     height: auto;
//     max-width: 100%; 
//   }
//   #post-index .img-thumbnail .thumbnail_text {
//     width: 100%;
//   }
// }

// @media (min-width:406px) and (max-width:479px){
//   .container {
//     padding-left: 10px;
//   }  
//   .content {
//     padding-top: 100px;
//   }
  
//   #listing-browser select {
//     display: block;
//     margin-bottom: 5px;
//   }
//   #posts .thumbnail_text {
//     font-size: 12px;
//   }
//   #posts .thumbnail_text_price {
//     font-size: 12px;
//   }
//   #post-index li:nth-child(2n){  
//   margin-right: 0px;
//   }
//   #post-index .img-thumbnail img {
//     width: 185px;
//     font-size: 12px;
//   }
//   #post-index .img-thumbnail .thumbnail_text {
//     width: 100%;
//   }
//   #post-index li{
//     width: 185px;
//     height: 185px;
//   }
//   footer .container .col-md-3 {
//     margin-right: 10px;
//   }
//   footer .container .col-md-3:nth-child(2n) {
//     margin-right: 0px;
//   }
    
// }


// //between 480 and  576 (@575):
// @media (min-width:480px) and (max-width:585px){
//   .container {
//     padding-left: 7px;
//   }  
//   .content {
//     padding-top: 100px;
//   }
//   .main-search {
//     float: left;
//   }
//   .main-search .form-control-medium {
//     width: auto;
//   }
  
//   #listing-browser select {
//     display: block;
//     margin-bottom: 5px;
//   }
//   #post-index li:nth-child(2n){  
//   margin-right: 0px;
//   }  
//   #posts .thumbnail_text {
//     font-size: 12px;
//   }
//   #posts .thumbnail_text_price {
//     font-size: 12px;
//   }
//   footer .container .col-md-3:nth-child(2n) {
//     margin-right: 0px;
//   } 
// }


// //between 576 and 768px (@768):
// @media (min-width:610px) and (max-width:767px){
//   .container {
//     padding-left: 10px;
//   }

  
//   .login-area {
//     float: right;
//   }
//   .login-links a:first-child {
//     padding-left: 0px;
//   }
//   .main-search {
//     float: right;
//   }
  
//   // #post-index li{
//   //   height: auto;
//   //   max-width: 100%;
//   // }
//   #post-index li:nth-child(3n){  
//     margin-right: 0px;
//   }
//   #post-index .img-thumbnail img {
//     height: auto;
//     max-width: 100%; 
//   }
//   #post-index .img-thumbnail .thumbnail_text {
//     width: 100%;
//     font-size: 12px;
//   }
//   #posts .thumbnail_text {
//     font-size: 12px;
//   }
//   #posts .thumbnail_text_price {
//     font-size: 12px;
//   }
  
//   footer .container .col-md-3 {
//     margin-right: 130px;
//   } 
//   footer .container .col-md-3:nth-child(2n) {
//     margin-right: 0px;
//   }    
// }

// //between 768px and 970px (@768):
// @media (min-width:768px) and (max-width:991px){
  
//   .main-search {
//     float: right;
//   }
//   .main-search .form-control-medium {
//     width: 250px;
//   }
//   .login-area {
//     float: right;
//   }
//   #post-index li:nth-child(3n){  
//     margin-right: 0px;
//   }
  
//   #post-index li{
//     margin-right: 27px;
//     margin-bottom: 27px;
//   }
   
// }

// //between 970px and 1200px (@992):
// @media (min-width:992px) and (max-width:1199px){
//   .main-search {
//     float: right;
//   }
//   .main-search .form-control-medium {
//     width: 250px;
//   }
//   .login-area {
//     float: right;
//   }
//   #post-index li:nth-child(4n){  
//     margin-right: 0px;
//   }

//   #post-index li{
//     margin-bottom: 16px;
//     margin-right: 16px;
//   }
//   footer .container .col-md-3 {
//     margin-right: 23px;
//   }  
// }

// //larger than 1200px:
// @media (min-width:1200px){
//   .main-search {
//     float: right;
//   }
//   .main-search .form-control-medium {
//     width: 250px;
//   }
//   .login-area {
//     float: right;
//   }
//   #post-index li{
//     margin-bottom: 6px;
//     margin-right: 6px;
//   }
//   #post-index li:nth-child(5n){  
//     margin-right: 0px;
//   }
//   footer .container .col-md-3 {
//     margin-right: 89.5px;
//   }

// }
