<h2>Step 2: Edit photos</h2>

<%= form_for [@post, @image], html: {:id => 'imageupload'}, :remote => true do |f| %>
	<%= f.file_field :image, multiple: :true, name: "image[image_file]" %>
<% end %>

<div id="progress" class="progress progress-success progress-striped">
        <div class="bar"></div>
    </div>

<%= link_to "View Your Listing", post_path(@post), :class => 'btn' %> 

<div id="post">
	<%= render 'post_images' %>
</div>