<h2>Step 2: Upload photos</h2>

<%= form_for [@post, @image], html: {:id => 'imageupload'}, :remote => true do |f| %>
	<%= f.file_field :image, multiple: :true, name: "image[image_file]" %>
<% end %>

<div id="post">
	<%= render 'post_images' %>
</div>