<%= form_for [@post, @image], html: {:id => 'imageupload'}, :remote => true do |f| %>

	<h1>Upload post Photos:	<%= @post.title %></h1>

		Upload Photos: 
		
		<%= f.label :image, "Upload images:" %>
		<%= f.file_field :image, multiple: :true, name: "image[image_file]" %>

		
<% end %>
